/* body {
  background-color: yellow;
}

p,
h1 {
  text-align: center;
}

h1 {
  padding: 20px 0;
  border: 2px solid black;
  font-size: 50px;
  color: green;
}

p {
  font-size: 25px;
  text-decoration: underline;
} */

/* #submit-button {
  background-color: red;
  ;
} */

/* CSS Comments are used to: */
/* 1. Leave notes for yourself
2. TO mark TO DO: 
3. TO leave notes for other developers */

/* .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: lightgreen;
}

.ellipse {
  margin-top: 50px;
  width: 150px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;
}

.rhombus {
  margin-top: 50px;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  background-color: tomato;
  transform: skew(-20deg);
} */

h1 {
  /* color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  color: rgb(205, 110, 21); */

  /* Using HEX Colors  */
  color: #00ff00;
  color: #fff;
  color: #000;
  color: #eb8e43;
}