/* body {
  background-color: yellow;
}

p,
h1 {
  text-align: center;
}

h1 {
  padding: 20px 0;
  border: 2px solid black;
  font-size: 50px;
  color: green;
}

p {
  font-size: 25px;
  text-decoration: underline;
} */

/* #submit-button {
  background-color: red;
  ;
} */

/* CSS Comments are used to: */
/* 1. Leave notes for yourself
2. TO mark TO DO: 
3. TO leave notes for other developers */

/* .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: lightgreen;
}

.ellipse {
  margin-top: 50px;
  width: 150px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;
}

.rhombus {
  margin-top: 50px;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  background-color: tomato;
  transform: skew(-20deg);
} */

/* h1 {
  color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  color: rgb(205, 110, 21);

  Using HEX Colors 
  color: #00ff00;
  color: #fff;
  color: #000;
  color: #eb8e43; 
}  */

/* .block {
  height: 100px;
  width: 200px;
  background-color: rgba(31, 109, 152, 0.5);
} */

/* .gradient {
  width: 400px;
  height: 300px;
  background-image: linear-gradient(green, blue);
  background-image: linear-gradient(to right, green, blue);
  background-image: linear-gradient(37deg, green, blue);
}

.repeating-gradient {
  width: 400px;
  height: 300px;
  background-image: repeating-linear-gradient(green 10%, blue 20%);
} */

/* h1 {
  text-shadow: 5px 7px 5px green;

}

div {
  width: 200px;
  height: 200px;
  box-shadow: 0 25px 25px -10px rgba(10, 10, 10, 0.5),
    0 5px 5px -10px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 10px;
} */

/* a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: coral;
}

a:hover {
  color: purple;
}

a:active {
  color: blue;
} */

/* * {
  margin: 0;
  padding: 0;
}

#footnote {
  font-size: 8px;
}

input[type=email] {
  background-color: blueviolet;
}

.main-info {
  color: red;
} */

.wrapper {
  position: relative;
  left: 25px;
}

.green-circle,
.blue-circle,
.red-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;

}

.green-circle {
  background-color: darkcyan;
  z-index: 1;
}

.blue-circle {
  background-color: lightgreen;
  z-index: 0;
  top: 75px;
}

.red-circle {
  background-color: crimson;
  z-index: -1;
  top: 150px;
}