/* body {
  background-color: yellow;
}

p,
h1 {
  text-align: center;
}

h1 {

  font-size: 50px;
  color: green;
}

p {
  font-size: 25px;
  text-decoration: underline;
} */

#submit-button {
  background-color: red;
  ;
}

/* CSS Comments are used to: */
/* 1. Leave notes for yourself
2. TO mark TO DO: 
3. TO leave notes for other developers */